<div class="home-page">
  <div>
    <img src="https://www.codesys.com/fileadmin/_processed_/csm_CB_Runtime_ohne_470px_8a890acabf.jpg">
  </div>
  <div class="title-home">
    <h1> Welcome to Blocmetrics </h1>
  </div>
<body>
      <div class="home-info">
      <h1 class="cover-heading">API Tracking Service and Reporting.</h1>
      <p class="lead">Build an analytics service and reporting tool that you can use with web apps to track user activity.</p>
      <a href="#" class="btn btn-lg btn-default">Learn more</a>
    </div>
</body>
</div>
