<div class="home-page">
  <div>
    <img src="https://www.eagleeyetutoring.com/images/slider-mountains.jpg">
  </div>
    <div class="home-info">
      <h1 class="cover-heading">API Tracking Service and Reporting.</h1>
      <p class="lead">An analytics service and reporting tool that you can use with web apps to track user activity.</p>
    </div>
    <section class="reg-tag">
      <div class="col-md-4">
        <%= link_to image_tag("reg_2.png"), new_app_path %>
        <h2>Register</h2>
        <h3></h3>
        <p>Register your application and start tracking!</p>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("learn_more.png") %>
        <h2>Learn More</h2>
        <h3></h3>
        <p>Find out more about Metriks</p>
      </div>
    </section>
</div>
