<div class="container title">
<h1> Rgistered Applications </h1>
</div>
  <div class="container apps-index">
    <div class="row col-md-8">
        <% @app.each do |app| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to app.name, app %>
              </h4>
              <small>
                <%= app.URL %>
              </small>
            </div>
          </div>
        <% end %>
      </div>
    <div class="register-btn">
      <%= link_to "Register New App", new_app_path, class: 'btn btn-success' %>
    </div>
</div>
