<h1><%=@app.name%></h1>
<p><%=@app.URL%></p>
  <div class="col-md-4">
    <%= link_to "Delete Application", @app, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this application' } %>
  </div>
