/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.container {
  width: 1200px;
}

.logo {
  position: relative;
  text-align: right;
}

.title-all {
  border-bottom: 1px solid rgba(1,1,1,.2);
  color: rgba(1,1,1,.6);
  font-weight: 200;
}

.user-session {
  float: right;
  padding-top: 12px;
}

.navigation {
  font-size: 15px;

    a {
      color: rgba(1,1,1,.6);
    }
}

.form-all {
  label {
    font-size: 19px;
    font-weight: 200;
  }
  input {
    width: 300px;
  }
}

.submit-btn {

  input {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
  }
}

.form-session {
  padding-left: 20px;

    a {
      font-size: 16px;
    }
}

.home-logo {
  img{
    height: 36px;
  }
}

.navbar-link {
  a {
    font-size: 18px;
    margin-top: 4px;
    color: teal;
  }
}
