/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Quicksand');

/* global styles */
html {
  font-size: 16px;
}

body {
  height: 100%;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Quicksand', sans-serif;
}

.logo {
  position: relative;
  text-align: right;
}

.title-all {
  color: rgba(1,1,1,.6);
  font-weight: 200;
}

.user-session {
  float: right;
  padding-top: 12px;
}

.navigation {
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  a {
    color: rgba(1,1,1,.6);
  }
}

.nav-tabs {
  border-bottom: 1px solid rgba(1,1,1,.1);
  width: 100%;
}

.form-all {
  label {
    font-size: 1.1rem;
    font-weight: 200;
  }
  input {
    width: 300px;
    border: 1px solid #DEDDDD;
    padding: 3px;
  }
}

.submit-btn {
  input {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
  }
}

.form-session {
  padding-left: 20px;
  a {
    font-size: 1rem;
  }
}

.home-logo {
  float: left;
  padding: 10px 60px;
  img {
    height: 3rem;
  }
}

.navbar-link {
  a {
    font-size: 1rem;
    margin-top: 4px;
    color: teal;
  }
}

/* mobile styles */
#mobile-nav {
  display: none;
  padding: 10px 20px;
  .ion-navicon-round {
    font-size: 2rem;
  }
}

@media screen and (max-width: 530px) {
  #mobile-nav {
    display: block;
    float: right;
  }
  .main-nav {
    clear: both;
  }
  .navigation {
    display: inline-grid;
    text-align: center;
  }
  .nav-tabs {
    background-color: rgba(1,1,1,.1);
  }
  .home-logo {
    padding: 10px 30px;
  }
  .home-page {
    height: auto;
  }
  .form-session {
    padding: 0;
  }
}
