// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  border-bottom: 1px solid rgba(1,1,1,.3);
  color: rgba(1,1,1,.6);
}

.apps-index {
  padding-top: 10px;
}

.event-index {
  background-color: #f1f1f1;
  padding: 10px;
  a {
    font-size: 1rem;
  }
  .btn {
    padding: 5px;
    margin-top: -48px;
      &:hover {
        background-color: rgb(22, 146, 208);
        border: 1px solid rgb(22, 146, 208);
        color: white;
      }
   }
}

.app-controls {
  float: right;
  padding: 10px;
}

.chart {
  padding-bottom: 30px;
  h2 {
    margin-left: 40%;
    font-size: 2rem;
    color: rgba(1,1,1,.6);
    font-weight: 300;
  }
}

.register-btn {
  float: right;
  padding: 10px 125px 0 0;
  a {
    padding: 10px;
    border: 1px solid;
    font-size: 1rem;
    &:hover {
      background-color: #337ab7;
      color: white;
    }
  }
}

@media screen and (max-width: 530px){
  .register-btn {
    float: none;
    padding: 10px 0 0 10px;
  }
  .app-controls {
    float: none;
    padding: 0 0 10px 0;
  }
}
