// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-home {
  position: absolute;
}
.home-info {
  position: absolute;
  margin-top: -600px;
  margin-left: 100px;
  width: 800px;

  h1 {
    font-size: 60px;
    color: #33606d;
  }

  p {
    color: white;
    text-shadow: 1px 1px rgba(1,1,1,.5);
  }

  .btn {
    background-color:  #ed6504;
    border: 1px solid  #ed6504;
  }

  a {
    color: white;
  }
}

.reg-tag {
  position: absolute;
  margin-top: -350px;
  margin-left: 100px;
  text-align: center;

    p {
      font-size: 18px;
      color: white;
    }

    h2 {
      color: white;
    }

    h3 {
      border-bottom: 2px solid white;
    }

    img {
      height: 150px;
    }
}
